@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,600;1,700&display=swap');



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}
body{
  background: #1F1C26;
}
.container{
  padding: calc(8vw - 45px) calc(50vw - 582px);
}
.btn-see{
  background: #F24B88;
  padding: 13px 10px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}
.btn-see_mob{
  background: #F24B88;
  padding: 13px 10px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}


button {
  cursor: pointer;
}


/*     HEADER    */

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
.logo{
  align-self: start;
  display: flex;
  max-width: 243px;
  flex-direction: column;
  border: 2px solid #F2F2F2;
  padding: 30px 23px;
  text-align: center;
  &__title{
    font-weight: bold;
    font-size: 36px;
    line-height: 37px;
    color: #F2F2F2;
    span{
      color: #F24B88;
    }
  }
  &__subtitle{
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.215em;
    text-transform: uppercase;
    color: #F2F2F2;
  }
}

.nav_desk {
  display: flex;
  flex-direction: row;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #F2F2F2;
}
.nav_mob{
  display: none;
}

.nav__item{
  margin-right: 40px;
  &:hover{
    text-decoration: underline;
    cursor: pointer;
  }
}


.header__auth{
  display: flex;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #F2F2F2;
}
.auth__btn_login{
  background: #F24B88;
  border: 1px solid #F24B88;
  padding: 0 8px;
}
.auth__btn_sign{
  background: none;
  border: 1px solid #F2F2F2;
  padding: 0 8px;
}
.header__burger{
  display: none;
}



/*     HOME   INFO   */


.home-info{
  display: flex;
  margin-bottom: 142px;
  &__plan{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: 63px;
    .home-info__title{
      min-width: 280px;
      margin-bottom: 65px;
    }
    .home-info_title{
      letter-spacing: 0.1em;
      font-weight: bold;
      font-size: 64px;
      line-height: 77px;
      color: #FFFFFF;
    }
    .home-info__text{
      margin-bottom: 91px;
    }
  }
  &__title{
    display: flex;
    flex-direction: column;
    letter-spacing: 0.215em;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
  }
  &__challenge{
    flex: 1;
    display: flex;
    flex-direction: column;
    .home-info__title{
      margin-bottom: 15px;
    }
    .home-info__text{
      margin-bottom: 18px;
    }
  }
  &_subtitle{
    font-weight: 500;
    font-size: 29px;
    line-height: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  &__text{
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.36);
  }
  &__buy{
    text-align: center;
    justify-content: space-between;
    display: flex;
  }
  &__photos{
    display: flex;
    flex: 1;
    width: 314px;
    height: 456px;
    img{
      border-radius: 20px ;
      height: 100%;
      display: block;
    }
  }
  &__block {
    background: #332F3C;
    border: 1px solid #332F3C;
    border-radius: 10px;
    padding: 29px 25px 18px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  &:last-child{
    margin: 0;
  }
  &__more {
    align-items: center;
    display: flex;
    flex-direction: row;
    &_arrow{
      margin-right: 13px;
    }
    &_text{
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      color: #FFFFFF;
    }
  }
}

.btn_buy {
  border: 1px solid #F24B88;
  background: #F24B88;
  border-radius: 10px;
  padding: 20px 30px;
  text-transform: uppercase;
  font-weight: 600;
  color: #FFFFFF;
  &:last-child{
    margin-right: 0;
  }
}



/*      TRAINING        */



.training{
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  &__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
  }
  &__title{
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  &__seeMore{
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  &__blocks{
    display: flex;
  }
  &__block{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    &:last-child{
      margin-right: 0;
    }
    &_title{
      margin-top: 10px;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      text-transform: uppercase;
      color: #FFFFFF;
    }
    &_text{
      margin-top: 10px;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: rgba(255, 255, 255, 0.36);
    }
    &_btn{
      margin-top: 20px;
      align-self: start;
    }
  }
}

.img_train{
  width: 100%;
  display: block;
}



/*          TEAM            */

.team{
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
  &__header{
    display: inline-flex;
    justify-self: flex-start;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 100px;
  }
  &__blocks{
    display: flex;
  }
  &__block{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    &:last-child{
      margin-right: 0;
    }
  }
  &__info{
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
    padding: 21px 12px 12px 12px;
  }
  &__name{
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #0D0D0D;
  }
  &__post{
    font-style: italic;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    text-transform: capitalize;
    color: #332F3C;
    margin-bottom: 10px;
  }
  &__img{
    img{
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__text{
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: rgba(13, 13, 13, 0.36);
    margin-bottom: 57px;
  }
  &__btn{
    align-self: end;
    &_mob{
      display: none;
    }
  }
}




/*      POTENTIAL       */


.potential{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #332F3C;
  padding: 65px 0;
  margin-bottom: 58px;
  &__title{
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    letter-spacing: 0.215em;
    color: #FFFFFF;
    margin-bottom: 25px;
  }
  &__text{
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 80px;
  }
  &__btns{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 30px;
  }

}


.btn_potential_plans{
  background: #F24B88;
  border-radius: 10px;
  padding: 20px 40px;
  border: none;
  color: #FFFFFF;
  margin-right: 30px;
}
.btn_potential_learn{
  background: #1F1C26;
  border-radius: 10px;
  border: none;
  padding: 20px 40px;
  color: #FFFFFF;
}


/*      FOOTER      */

.footer{
  display: flex;
  flex-direction: column;
  &__content{
    display: flex;
    flex-direction: row;
    border-top: 1px solid #F2F2F2;
    padding-top: 37px;
    justify-content: space-between;
  }
  &__contacts{
    display: flex;
    flex-direction: column;
    max-width: 405px;
  }
  &__contacts{
    &_text{
      margin-top: 15px;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #FFFFFF;
    }
    &_social{
      margin-top: 15px;
      display: flex;
      flex-direction: row;
    }
  }
  &__info{
    &_desk{
      display: flex;
      flex-direction: row;
    }
    &_block{
      display: flex;
      flex-direction: column;
      margin-right: 55px;
      :last-child{
        margin-right: 0;
      }
    }
    &_title{
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      text-transform: uppercase;
      color: #FFFFFF;
    }
    &_item{
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      text-transform: capitalize;
      color: #FFFFFF;
      margin-top: 15px
    }
  }
  &_mob{
    display: none;
  }
  &social_icon{
    margin-right: 8px;
  }
  &__subscribe{
    display: flex;
    flex-direction: column;
    &_title{
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 25px;
    }
    &_input{
      margin-bottom: 22px;
      padding: 8px 26px;
      background: #FFFFFF;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
    }
  }
  &__copyright{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #F2F2F2;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    padding-top: 35px;
  }
}

.btn-subscribe{
  background: #F24B88;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 8px 3px;
}




/*<<<<<--------- MOBILE --------->>>>*/



@media screen and (max-width: 768px) {

  .container {
    padding: calc(8vw - 45px) calc(50vw - 370px);
  }

  /*<     HEADER    >*/

  .header{
    &__burger{
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      span{
        position: absolute;
        background-color: #F2F2F2;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
      }
      &:after,
      &:before{
        content: " ";
        background-color: #F2F2F2;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
      }
      &:after{
        bottom: 0;
      }
      &:before{
        top: 0;
      }
      &.active{
        &:before{
          transform: rotate(45deg);
          bottom: 18px;
        }
        &:after{
          transform: rotate(-45deg);
          bottom: 18px;
        }
        span{
          transform: scale(0);
        }
      }
    }
  }

  .logo{
    padding: 20px 15px;
    &__title{
      font-weight: bold;
      font-size: 30px;
      line-height: 31px;
    }
    &__subtitle{
      font-weight: normal;
      font-size: 12px;
      line-height: 13px;
    }
  }


  .nav{
    &_desk{
      display: none;
    }
    &_mob{
      &.active{
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 10px;
        top: 33px;
        padding: 40px 40px 30px 40px;
        border: 1px solid #59253E;
        background-color: #59253E;
        border-radius: 20px 0 0 20px;
        box-shadow: -8px 8px 5px rgb(0 0 0 / 25%);
        text-align: center;
        font-size: 20px;
        line-height: 30px;
        color: #F2F2F2;
        transition: .3s;
      }
      .nav__item{
        margin: 0 0 15px 0;
      }
      .header__auth{
        margin-top: 50px;
      }
    }
  }




  /*     HOME INFO    */

  .home-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
    &__photos{
      justify-content: center;
      height: 202px;
      img{
        height: 100%;
        display: block;
      }
    }
    &__plan{
      margin: 0;
      .home-info{
        &_title{
          font-size: 40px;
          line-height: 42px;
        }

        &__title{
          min-width: 280px;
          margin-bottom: 10px;
        }

        &__text{
          margin-bottom: 25px;
          font-size: 9px;
          line-height: 11px;
        }

      }
    }
    &_subtitle{
      font-size: 16px;
      line-height: 19px;
    }
    &__challenge{
      justify-content: normal;
      .home-info__title{
        margin-bottom: 15px;
      }
      .home-info__text{
        margin-bottom: 5px;
      }
    }
    &__block{
      border-radius: 10px;
      padding: 20px 16px 6px;
      margin-bottom: 20px;
      .home-info__title{
        font-size: 10px;
        line-height: 11px;
      }
    }
    &__more{
      &_text{
        font-size: 6px;
        line-height: 7px;
      }
      &_arrow{
        margin-right: 7px;
        width: 20px;
      }
    }
    &__text{
      font-size: 5px;
      line-height: 6px;
    }
    &__photos{
      margin: 0;
      justify-content: center
    }
  }

  .btn_buy{
    padding: 18px 15px;
    font-size: 9px;
    line-height: 10px;
  }



  /*    Training    */

  .training{
    margin-bottom: 60px;
    &__header{
      margin-bottom: 10px;
    }
    &__title{
      font-size: 22px;
      line-height: 30px;
    }
    &__seeMore{
      font-size: 10px;
      line-height: 11px;
    }
    &__block{
      margin-right: 10px;
      &_title{
        margin-top: 5px;
        font-size: 15px;
        line-height: 15px;
      }
      &:last-child{
        margin-right: 0;
      }
      &_text{
        margin-top: 5px;
        font-size: 10px;
        line-height: 12px;
      }
      &_btn{
        margin-top: 10px;
      }
    }
  }


  .btn-see{
    padding: 10px 8px;
    font-size: 10px;
    line-height: 10px;
  }

  /*    TEAM       */

  .team{
    margin-bottom: 60px;
    &__header{
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 10px;
    }
    &__info{
      padding: 5px;
    }
    &__name{
      font-size: 12px;
      line-height: 13px;
    }
    &__post{
      font-size: 8px;
      line-height: 9px;
      margin-bottom: 5px;
    }
    &__text{
      font-size: 8px;
      line-height: 10px;
      margin-bottom: 15px;
    }
    &__block{
      margin-right: 10px;
      :last-child{
        margin: 0;
      }
    }
  }

  /*    Potential     */

  .potential{
    padding: 30px 0;
    margin-bottom: 40px;
    &__title{
      font-size: 30px;
      line-height: 45px;
      margin-bottom: 15px;
    }
    &__text{
      font-size: 15px;
      line-height: 20px;
      margin-bottom: 60px;
    }
  }
  .btn_potential{
    &_plans{
      padding: 20px 40px;
      margin-right: 30px;
    }
    &_learn{
      padding: 20px 40px;
    }
  }

  /*    FOOTER    */


  .footer{
    &__content{
      padding-top: 20px;
    }
    &__contacts{
      margin-right: 5px;
      &_text{
        margin-top: 10px;
        font-size: 9px;
        line-height: 12px;
      }
      &_social{
        margin-top: 10px;
      }
    }
    &__info{
      &_mob{
        display: none;
      }
      &_block{
        margin-right: 25px;
        &:last-child{
          margin-right: 0;
        }
      }
      &_title{
        font-size: 15px;
        line-height: 18px;
      }
      &_item{
        font-size: 10px;
        line-height: 11px;
        margin-top: 23px;
      }
    }
    &_social_icon{
      margin-right: 5px;
    }
    &__subscribe{
      &_title{
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 10px;
      }
      &_input{
        margin-bottom: 12px;
        padding: 3px 8px;
        border-radius: 5px;
      }
    }
    &__copyright{
      font-size: 10px;
      line-height: 11px;
      padding-top: 20px;
    }
  }
  .btn-subscribe{
    border-radius: 5px;
    padding: 5px 12px;
  }

}




@media screen and (max-width: 425px) {



  /*     HEADER     */
  .header{
    margin-bottom: 60px;
  }
  .logo{
    padding: 15px 10px;
    &__title{
      font-weight: bold;
      font-size: 22px;
      line-height: 24px;
    }
    &__subtitle{
      font-size: 9px;
      line-height: 12px;
    }

  }
  .nav_mob.active{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 10px;
    padding: 30px 15px 20px 15px;
    border: 1px solid #59253E;
    background-color: #59253E;
    border-radius: 20px 0 0 20px;
    box-shadow: -8px 8px 5px rgb(0 0 0 / 25%);
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    color: #F2F2F2;
    .nav__item{
      margin: 0 0 15px 0;
    }
    .header__auth{
      margin-top: 50px;
    }
  }



  /*    HOME INFO     */

  .home-info{
    margin-bottom: 50px;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    &__photos{
      max-width: 336px;
      max-height: 283px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: 50px;
      }
    }
    &__plan{
      align-items: center;
      .home-info_title{
        font-size: 26px;
        line-height: 39px;
      }
      .home-info__text{
        margin-bottom: 58px;
        font-size: 12px;
        line-height: 18px;
      }
    }
    &_subtitle{
      font-size: 12px;
      line-height: 18px;
    }
    &__challenge{
      display: none;
    }
  }

  .btn_buy{
    padding: 12px 12px;
    font-size: 13px;
    line-height: 19px;
    &:last-child{
      display: none;
    }
  }


  /*    TRAINING   */


  .training{
    align-items: center;
    margin-bottom: 50px;
    &__header{
      margin-bottom: 40px;
    }
    &__seeMore{
      display: none;
    }
    &__blocks{
      flex-direction: column;
      margin-bottom: 20px;
    }
    &__block{
      display: block;
      margin: 0 0 15px 0;
      position: relative;
      &_text{
        display: none;
      }
      &_btn{
        display: none;
      }
      &_title{
        position: absolute;
        z-index: 2;
        font-size: 18px;
        line-height: 27px;
        margin: 0;
        bottom: 1px;
        left: 5px;
      }
    }
  }
  .img_train{
    margin: 0;
    border-radius: 10px;
  }



  /*        TEAM      */


  .team{
    align-items: center;
    margin-bottom: 50px;
    &__header{
      margin-bottom: 35px;
    }
    &__name{
      font-size: 18px;
      line-height: 27px;
      color: #E5E5E5;
      text-align: center;
    }
    &__img{
      width: 157px;
      height: 157px;
      img{
        border-radius: 10px;
      }
    }
    &__post{
      display: none;
    }
    &__text{
      display: none;
    }
    &__btn_mob{
      display: block;
    }
    &__info{
      background: none;
      box-shadow: none;
    }
    &__blocks{
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 20px;
    }
    &__block{
      &:nth-child(2n) {
        margin-left: 10px;
      }
    }
  }

  .btn-see{
    display: none;
  }





  /*    POTENTIAL    */

  .potential{
    padding: 15px 0;
    &__title{
      font-size: 24px;
      line-height: 36px;
    }
    &__text{
      font-size: 13px;
      line-height: 18px;
      margin-bottom: 84px;
    }
    &__btns{
      font-size: 18px;
      line-height: 27px;
    }
  }

  .btn_potential{
    &_plans{
      padding: 10px 13px;
      margin-right: 15px;
    }
    &_learn{
      padding: 10px 13px;
    }
  }



  /*     FOOTER    */


  .footer{
    margin: 0 15px;
    &__content{
      flex-direction: column;
      align-items: center;
    }
    &__contacts{
      align-items: center;
      margin: 0;
      text-align: center;
      &_text{
        font-size: 12px;
        line-height: 18px;
        margin-top: 20px;
      }
      &_social{
        margin-top: 25px;
      }
    }
    &__info{
      &_title{
        font-size: 18px;
        line-height: 27px;
      }
      &_mob{
        display: flex;
        margin-top: 20px;
      }
      &_desk{
        display: none;
      }
      &_item{
        font-size: 14px;
        line-height: 21px;
        margin-top: 15px;
      }
    }
    &__subscribe{
      margin-top: 35px;
      text-align: center;
      &_input{
        margin: 30px 0 0 0;
        padding: 10px 80px;
        font-size: 12px;
        line-height: 19px
      }
      &_btn{
        margin-top: 10px;
      }
    }
    &__copyright{
      margin-top: 35px;
      flex-direction: column;
      text-align: center;
      padding-top: 20px;
      &_item{
        margin-bottom: 20px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  .logo{
    align-self: center;
  }
  .footer_social_icon:last-child{
    margin: 0;
  }
}