@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

body {
  background: #1F1C26;
}

.container {
  padding: calc(8vw - 45px) calc(50vw - 582px);
}

.btn-see {
  background: #F24B88;
  padding: 13px 10px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}

.btn-see_mob {
  background: #F24B88;
  padding: 13px 10px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}

button {
  cursor: pointer;
}

/*     HEADER    */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.logo {
  align-self: start;
  display: flex;
  max-width: 243px;
  flex-direction: column;
  border: 2px solid #F2F2F2;
  padding: 30px 23px;
  text-align: center;
}
.logo__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 37px;
  color: #F2F2F2;
}
.logo__title span {
  color: #F24B88;
}
.logo__subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.215em;
  text-transform: uppercase;
  color: #F2F2F2;
}

.nav_desk {
  display: flex;
  flex-direction: row;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #F2F2F2;
}

.nav_mob {
  display: none;
}

.nav__item {
  margin-right: 40px;
}
.nav__item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header__auth {
  display: flex;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #F2F2F2;
}

.auth__btn_login {
  background: #F24B88;
  border: 1px solid #F24B88;
  padding: 0 8px;
}

.auth__btn_sign {
  background: none;
  border: 1px solid #F2F2F2;
  padding: 0 8px;
}

.header__burger {
  display: none;
}

/*     HOME   INFO   */
.home-info {
  display: flex;
  margin-bottom: 142px;
}
.home-info__plan {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: 63px;
}
.home-info__plan .home-info__title {
  min-width: 280px;
  margin-bottom: 65px;
}
.home-info__plan .home-info_title {
  letter-spacing: 0.1em;
  font-weight: bold;
  font-size: 64px;
  line-height: 77px;
  color: #FFFFFF;
}
.home-info__plan .home-info__text {
  margin-bottom: 91px;
}
.home-info__title {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.215em;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}
.home-info__challenge {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.home-info__challenge .home-info__title {
  margin-bottom: 15px;
}
.home-info__challenge .home-info__text {
  margin-bottom: 18px;
}
.home-info_subtitle {
  font-weight: 500;
  font-size: 29px;
  line-height: 35px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.home-info__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.36);
}
.home-info__buy {
  text-align: center;
  justify-content: space-between;
  display: flex;
}
.home-info__photos {
  display: flex;
  flex: 1;
  width: 314px;
  height: 456px;
}
.home-info__photos img {
  border-radius: 20px;
  height: 100%;
  display: block;
}
.home-info__block {
  background: #332F3C;
  border: 1px solid #332F3C;
  border-radius: 10px;
  padding: 29px 25px 18px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.home-info:last-child {
  margin: 0;
}
.home-info__more {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.home-info__more_arrow {
  margin-right: 13px;
}
.home-info__more_text {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}

.btn_buy {
  border: 1px solid #F24B88;
  background: #F24B88;
  border-radius: 10px;
  padding: 20px 30px;
  text-transform: uppercase;
  font-weight: 600;
  color: #FFFFFF;
}
.btn_buy:last-child {
  margin-right: 0;
}

/*      TRAINING        */
.training {
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
}
.training__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
}
.training__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.training__seeMore {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.training__blocks {
  display: flex;
}
.training__block {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.training__block:last-child {
  margin-right: 0;
}
.training__block_title {
  margin-top: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.training__block_text {
  margin-top: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.36);
}
.training__block_btn {
  margin-top: 20px;
  align-self: start;
}

.img_train {
  width: 100%;
  display: block;
}

/*          TEAM            */
.team {
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
}
.team__header {
  display: inline-flex;
  justify-self: flex-start;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 100px;
}
.team__blocks {
  display: flex;
}
.team__block {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.team__block:last-child {
  margin-right: 0;
}
.team__info {
  display: flex;
  flex-direction: column;
  background: #F2F2F2;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
  padding: 21px 12px 12px 12px;
}
.team__name {
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #0D0D0D;
}
.team__post {
  font-style: italic;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  text-transform: capitalize;
  color: #332F3C;
  margin-bottom: 10px;
}
.team__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team__text {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: rgba(13, 13, 13, 0.36);
  margin-bottom: 57px;
}
.team__btn {
  align-self: end;
}
.team__btn_mob {
  display: none;
}

/*      POTENTIAL       */
.potential {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #332F3C;
  padding: 65px 0;
  margin-bottom: 58px;
}
.potential__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.215em;
  color: #FFFFFF;
  margin-bottom: 25px;
}
.potential__text {
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 80px;
}
.potential__btns {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 30px;
}

.btn_potential_plans {
  background: #F24B88;
  border-radius: 10px;
  padding: 20px 40px;
  border: none;
  color: #FFFFFF;
  margin-right: 30px;
}

.btn_potential_learn {
  background: #1F1C26;
  border-radius: 10px;
  border: none;
  padding: 20px 40px;
  color: #FFFFFF;
}

/*      FOOTER      */
.footer {
  display: flex;
  flex-direction: column;
}
.footer__content {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #F2F2F2;
  padding-top: 37px;
  justify-content: space-between;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  max-width: 405px;
}
.footer__contacts_text {
  margin-top: 15px;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
}
.footer__contacts_social {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}
.footer__info_desk {
  display: flex;
  flex-direction: row;
}
.footer__info_block {
  display: flex;
  flex-direction: column;
  margin-right: 55px;
}
.footer__info_block :last-child {
  margin-right: 0;
}
.footer__info_title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer__info_item {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-top: 15px;
}
.footer_mob {
  display: none;
}
.footersocial_icon {
  margin-right: 8px;
}
.footer__subscribe {
  display: flex;
  flex-direction: column;
}
.footer__subscribe_title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 25px;
}
.footer__subscribe_input {
  margin-bottom: 22px;
  padding: 8px 26px;
  background: #FFFFFF;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #F2F2F2;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  padding-top: 35px;
}

.btn-subscribe {
  background: #F24B88;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 8px 3px;
}

/*<<<<<--------- MOBILE --------->>>>*/
@media screen and (max-width: 768px) {
  .container {
    padding: calc(8vw - 45px) calc(50vw - 370px);
  }

  /*<     HEADER    >*/
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .header__burger span {
    position: absolute;
    background-color: #F2F2F2;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:after, .header__burger:before {
    content: " ";
    background-color: #F2F2F2;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    bottom: 18px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 18px;
  }
  .header__burger.active span {
    transform: scale(0);
  }

  .logo {
    padding: 20px 15px;
  }
  .logo__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 31px;
  }
  .logo__subtitle {
    font-weight: normal;
    font-size: 12px;
    line-height: 13px;
  }

  .nav_desk {
    display: none;
  }
  .nav_mob.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 10px;
    top: 33px;
    padding: 40px 40px 30px 40px;
    border: 1px solid #59253E;
    background-color: #59253E;
    border-radius: 20px 0 0 20px;
    box-shadow: -8px 8px 5px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    color: #F2F2F2;
    transition: 0.3s;
  }
  .nav_mob .nav__item {
    margin: 0 0 15px 0;
  }
  .nav_mob .header__auth {
    margin-top: 50px;
  }

  /*     HOME INFO    */
  .home-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  .home-info__photos {
    justify-content: center;
    height: 202px;
  }
  .home-info__photos img {
    height: 100%;
    display: block;
  }
  .home-info__plan {
    margin: 0;
  }
  .home-info__plan .home-info_title {
    font-size: 40px;
    line-height: 42px;
  }
  .home-info__plan .home-info__title {
    min-width: 280px;
    margin-bottom: 10px;
  }
  .home-info__plan .home-info__text {
    margin-bottom: 25px;
    font-size: 9px;
    line-height: 11px;
  }
  .home-info_subtitle {
    font-size: 16px;
    line-height: 19px;
  }
  .home-info__challenge {
    justify-content: normal;
  }
  .home-info__challenge .home-info__title {
    margin-bottom: 15px;
  }
  .home-info__challenge .home-info__text {
    margin-bottom: 5px;
  }
  .home-info__block {
    border-radius: 10px;
    padding: 20px 16px 6px;
    margin-bottom: 20px;
  }
  .home-info__block .home-info__title {
    font-size: 10px;
    line-height: 11px;
  }
  .home-info__more_text {
    font-size: 6px;
    line-height: 7px;
  }
  .home-info__more_arrow {
    margin-right: 7px;
    width: 20px;
  }
  .home-info__text {
    font-size: 5px;
    line-height: 6px;
  }
  .home-info__photos {
    margin: 0;
    justify-content: center;
  }

  .btn_buy {
    padding: 18px 15px;
    font-size: 9px;
    line-height: 10px;
  }

  /*    Training    */
  .training {
    margin-bottom: 60px;
  }
  .training__header {
    margin-bottom: 10px;
  }
  .training__title {
    font-size: 22px;
    line-height: 30px;
  }
  .training__seeMore {
    font-size: 10px;
    line-height: 11px;
  }
  .training__block {
    margin-right: 10px;
  }
  .training__block_title {
    margin-top: 5px;
    font-size: 15px;
    line-height: 15px;
  }
  .training__block:last-child {
    margin-right: 0;
  }
  .training__block_text {
    margin-top: 5px;
    font-size: 10px;
    line-height: 12px;
  }
  .training__block_btn {
    margin-top: 10px;
  }

  .btn-see {
    padding: 10px 8px;
    font-size: 10px;
    line-height: 10px;
  }

  /*    TEAM       */
  .team {
    margin-bottom: 60px;
  }
  .team__header {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .team__info {
    padding: 5px;
  }
  .team__name {
    font-size: 12px;
    line-height: 13px;
  }
  .team__post {
    font-size: 8px;
    line-height: 9px;
    margin-bottom: 5px;
  }
  .team__text {
    font-size: 8px;
    line-height: 10px;
    margin-bottom: 15px;
  }
  .team__block {
    margin-right: 10px;
  }
  .team__block :last-child {
    margin: 0;
  }

  /*    Potential     */
  .potential {
    padding: 30px 0;
    margin-bottom: 40px;
  }
  .potential__title {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 15px;
  }
  .potential__text {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 60px;
  }

  .btn_potential_plans {
    padding: 20px 40px;
    margin-right: 30px;
  }
  .btn_potential_learn {
    padding: 20px 40px;
  }

  /*    FOOTER    */
  .footer__content {
    padding-top: 20px;
  }
  .footer__contacts {
    margin-right: 5px;
  }
  .footer__contacts_text {
    margin-top: 10px;
    font-size: 9px;
    line-height: 12px;
  }
  .footer__contacts_social {
    margin-top: 10px;
  }
  .footer__info_mob {
    display: none;
  }
  .footer__info_block {
    margin-right: 25px;
  }
  .footer__info_block:last-child {
    margin-right: 0;
  }
  .footer__info_title {
    font-size: 15px;
    line-height: 18px;
  }
  .footer__info_item {
    font-size: 10px;
    line-height: 11px;
    margin-top: 23px;
  }
  .footer_social_icon {
    margin-right: 5px;
  }
  .footer__subscribe_title {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 10px;
  }
  .footer__subscribe_input {
    margin-bottom: 12px;
    padding: 3px 8px;
    border-radius: 5px;
  }
  .footer__copyright {
    font-size: 10px;
    line-height: 11px;
    padding-top: 20px;
  }

  .btn-subscribe {
    border-radius: 5px;
    padding: 5px 12px;
  }
}
@media screen and (max-width: 425px) {
  /*     HEADER     */
  .header {
    margin-bottom: 60px;
  }

  .logo {
    padding: 15px 10px;
  }
  .logo__title {
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
  }
  .logo__subtitle {
    font-size: 9px;
    line-height: 12px;
  }

  .nav_mob.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 10px;
    padding: 30px 15px 20px 15px;
    border: 1px solid #59253E;
    background-color: #59253E;
    border-radius: 20px 0 0 20px;
    box-shadow: -8px 8px 5px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    color: #F2F2F2;
  }
  .nav_mob.active .nav__item {
    margin: 0 0 15px 0;
  }
  .nav_mob.active .header__auth {
    margin-top: 50px;
  }

  /*    HOME INFO     */
  .home-info {
    margin-bottom: 50px;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .home-info__photos {
    max-width: 336px;
    max-height: 283px;
  }
  .home-info__photos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 50px;
  }
  .home-info__plan {
    align-items: center;
  }
  .home-info__plan .home-info_title {
    font-size: 26px;
    line-height: 39px;
  }
  .home-info__plan .home-info__text {
    margin-bottom: 58px;
    font-size: 12px;
    line-height: 18px;
  }
  .home-info_subtitle {
    font-size: 12px;
    line-height: 18px;
  }
  .home-info__challenge {
    display: none;
  }

  .btn_buy {
    padding: 12px 12px;
    font-size: 13px;
    line-height: 19px;
  }
  .btn_buy:last-child {
    display: none;
  }

  /*    TRAINING   */
  .training {
    align-items: center;
    margin-bottom: 50px;
  }
  .training__header {
    margin-bottom: 40px;
  }
  .training__seeMore {
    display: none;
  }
  .training__blocks {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .training__block {
    display: block;
    margin: 0 0 15px 0;
    position: relative;
  }
  .training__block_text {
    display: none;
  }
  .training__block_btn {
    display: none;
  }
  .training__block_title {
    position: absolute;
    z-index: 2;
    font-size: 18px;
    line-height: 27px;
    margin: 0;
    bottom: 1px;
    left: 5px;
  }

  .img_train {
    margin: 0;
    border-radius: 10px;
  }

  /*        TEAM      */
  .team {
    align-items: center;
    margin-bottom: 50px;
  }
  .team__header {
    margin-bottom: 35px;
  }
  .team__name {
    font-size: 18px;
    line-height: 27px;
    color: #E5E5E5;
    text-align: center;
  }
  .team__img {
    width: 157px;
    height: 157px;
  }
  .team__img img {
    border-radius: 10px;
  }
  .team__post {
    display: none;
  }
  .team__text {
    display: none;
  }
  .team__btn_mob {
    display: block;
  }
  .team__info {
    background: none;
    box-shadow: none;
  }
  .team__blocks {
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .team__block:nth-child(2n) {
    margin-left: 10px;
  }

  .btn-see {
    display: none;
  }

  /*    POTENTIAL    */
  .potential {
    padding: 15px 0;
  }
  .potential__title {
    font-size: 24px;
    line-height: 36px;
  }
  .potential__text {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 84px;
  }
  .potential__btns {
    font-size: 18px;
    line-height: 27px;
  }

  .btn_potential_plans {
    padding: 10px 13px;
    margin-right: 15px;
  }
  .btn_potential_learn {
    padding: 10px 13px;
  }

  /*     FOOTER    */
  .footer {
    margin: 0 15px;
  }
  .footer__content {
    flex-direction: column;
    align-items: center;
  }
  .footer__contacts {
    align-items: center;
    margin: 0;
    text-align: center;
  }
  .footer__contacts_text {
    font-size: 12px;
    line-height: 18px;
    margin-top: 20px;
  }
  .footer__contacts_social {
    margin-top: 25px;
  }
  .footer__info_title {
    font-size: 18px;
    line-height: 27px;
  }
  .footer__info_mob {
    display: flex;
    margin-top: 20px;
  }
  .footer__info_desk {
    display: none;
  }
  .footer__info_item {
    font-size: 14px;
    line-height: 21px;
    margin-top: 15px;
  }
  .footer__subscribe {
    margin-top: 35px;
    text-align: center;
  }
  .footer__subscribe_input {
    margin: 30px 0 0 0;
    padding: 10px 80px;
    font-size: 12px;
    line-height: 19px;
  }
  .footer__subscribe_btn {
    margin-top: 10px;
  }
  .footer__copyright {
    margin-top: 35px;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
  }
  .footer__copyright_item {
    margin-bottom: 20px;
  }
  .footer__copyright_item:last-child {
    margin-bottom: 0;
  }

  .logo {
    align-self: center;
  }

  .footer_social_icon:last-child {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
