@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Mulish:wght@400;600;800;900&family=Roboto:wght@400;700&display=swap');





*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{

    background-image: url("background.svg");
}

.container{
    margin: 0 100px;
}


.circles{
    margin-top: 98px;
}
.dot{
    height: 131px;
    width: 131px;
    background-color: #e7e7e7;
    border-radius: 50%;
    display: inline-block;
    margin-right: 86px;
    margin-bottom: 66px;
}
.dot:nth-child(2n){
    background-color: #000000;
}
.dot:nth-child(4n){
    background-color: #0500FF;
}
.dot:nth-child(3n){
    background-color: #FF0000;
}

/* <----- Block ------>  */

.block{
    padding: 50px 80px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    border-radius: 23px;
    background-color: #fff;
    margin-bottom: 80px;
}
.block__title{
    align-self: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #000000;

}
.block__content{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-top: 33px;
    color: #000000;
}


/* ------ Table -- - --- -*/

.block__table {
    margin-top: 44px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 44px;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


.block__list{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-top: 89px;
    align-items: normal;
    margin-bottom: 20px;
}

.list__title{
    margin-top: 70px;
}
.list__title:first-child{
    margin-top: 0;
}


.block_red{
    padding: 47px 45px;
    width: 100%;
    height: 616px;
    background-color: #FF0000;
    border: 1px solid #000000;
    border-radius: 23px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.block_blue{
    padding: 59px 53px;
    width: 98%;
    height: 98%;
    background-color: #0038FF;
    border: 1px solid #000000;
    border-radius: 23px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.block_green{
    padding: 47px 54px;
    width: 98%;
    height: 98%;
    background: #42FF00;
    border: 1px solid #000000;
    border-radius: 23px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.block_title{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
    width: 98%;
    height: 98%;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 23px;
}